<div class="modal" id="share-modal">
    <div class="modal__content modal__content--center">
        <div class="modal__close">
            <button class="modal__close-btn" type="button"></button>
        </div>

        <ul class="social social">
            <li class="social__item">
                <a href="#" class="social__link" target="_blank">
                    <img src="assets/images/share/facebook.svg">
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link" target="_blank">
                    <img src="assets/images/share/twitter.svg">
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link" target="_blank">
                    <img src="assets/images/social__icons/vk.svg">
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link" target="_blank">
                    <img src="assets/images/share/copy-icon.svg">
                </a>
            </li>
        </ul>
    </div>
</div>