.main {
    padding: 10rem 0 0 $sidebar-width;

    @include breakpoint($tablet-bp) {
        padding: 7rem 0 0;
        
        &:has(.pagination) {
            padding: 7rem 0 5rem;
        }
    }
}
