{% extends 'main/layout.html' %}
{% load static %}

{% block title %}About us{% endblock %}

{% block content %}
    <div class="features">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi, asperiores commodi cupiditate distinctio dolorem enim fugiat hic impedit iure laboriosam libero magni minima non odio officia officiis pariatur perspiciatis provident quaerat quam, quia quibusdam quo quod recusandae rem reprehenderit repudiandae saepe sapiente tempore ut vel voluptas voluptatum? Quidem, suscipit.</p>
        <button class="btn btn-danger" type="button">Go to Home page</button>
    </div>
{% endblock %}