$primary:        #202020;
$secondary:      #121212;
$third:          #0D0D0D;
$secondary-black:#1C1C1C;
$black:          #000;
$white:          #fff;
$grey-primary:   #d2d2d2;
$grey-secondary: #dedede;
$red:            #ED3024;
$blue:           #3137C9;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:  1010;

$sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;