.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;

    @include breakpoint($tablet-bp) {
        .show-sidebar & {
            position: relative;
        }
    }

    @include breakpoint($mobile-bp) {
        &:has(.page__title--cabinet) {
            display: block;

            padding-top: 5rem;
        }
    }
}

.page__title {
    margin-bottom: 3rem;
    
    font-size: 2.1rem;
    color: $white;

    &--center {
        text-align: center;
    }

    &--cabinet {
        margin-bottom: 5rem;

        @include breakpoint($mobile-bp) {
            margin-bottom: 3rem;
        }
    }
}

.page__mask {
    @include breakpoint($tablet-bp) {
        display: block;
        width: 100%;
        height: 100%;
    
        background-color: rgba($black, .9);
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
}