<div class="modal" id="contact-modal">
    <div class="modal__content">
        <form class="form" action="/" method="post">
            <div class="form__group form__group--md">
                <input class="form__control" type="text" name="" id="" placeholder="Ваше имя" required>
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input class="form__control" type="email" name="" id="" placeholder="Ваш e-mail" required>
                <span class="form__line"></span>
            </div>
        
            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
        
            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
                <ul class="form__footer-list form__footer-list--modal">
                    <li>
                        e-mail:
                        <a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a>
                    </li>
                    <li>
                        тел:
                        <a href="tel:+94323285622">+943-232-856-22</a>
                    </li>
                </ul>
            </div> 
        </form>

        <div class="modal__close">
            <button class="modal__close-btn" type="button"></button>
        </div>
    </div>
</div>