* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.global-info {
    background-image: url('/img/image\ 1.svg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;
    height: 60px;
}

.header div {
    display: flex;
    align-items: center;
}

.nav, .nav-lang {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li, .logo {
    margin-right: 1.5rem;
}

.nav-lang li:first-of-type {
    margin-right: 0.5rem;
}

.nav-lang {
    margin-right: 1.5rem;
}

.nav-item {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0%;
}

.nav-item:hover, .active {
    opacity: 40%;
}